{
	"semi": true,
	"tabWidth": 4,
	"useTabs": true,
	"printWidth": 240,
	"endOfLine": "auto",
	"singleQuote": true,
	"proseWrap": "never",
	"bracketSameLine": true,
	"bracketSpacing": true,
	"trailingComma": "none",
	"vueIndentScriptAndStyle": true,
	"overrides": [
		{ "files": "*.ts", "options": { "parser": "typescript", "printWidth": 240, "singleQuote": false } },
		{ "files": "*.vue", "options": { "parser": "vue", "printWidth": 240, "singleQuote": false } },
		{ "files": "*.html", "options": { "parser": "html", "printWidth": 240, "singleQuote": false } },
		{ "files": "*.component.html", "options": { "parser": "angular", "printWidth": 240, "singleQuote": false } }
	]
}