:host {
	display: block;
	padding: 1rem;
}

.product-list {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	// gap: 1rem;
}