<div class="filter-header">
	<div class="filter-header-section">
		<span>Kategori:</span>
		<select [(ngModel)]="categoryModel" class="form-select">
			<option value="">Hepsi</option>
			<option *ngFor="let cat of productCategories; let i = index;" [attr.data-index]="i" [value]="cat">{{ cat }}</option>
		</select>
	</div>

	<div class="filter-header-section">
		<span>Arama:</span>
		<input [(ngModel)]="searchModel" placeholder="Ürün adı yazın." type="search" class="form-control" />
	</div>

	<div class="filter-header-section">
		<span>Sıralama:</span>
		<select [(ngModel)]="filterModel" class="form-select">
			<option value="Default">Varsayılan</option>
			<option value="Low to High">Fiyat: Ucuzdan Pahalıya</option>
			<option value="High to Low">Fiyat: Pahalıdan Ucuza</option>
			<option value="A to Z">A dan Z</option>
			<option value="Z to A">Z den A</option>
		</select>
	</div>
</div>

<div class="product-list">
	<ng-container #productContainer *ngFor="let product of products | productFilter: filterModel:searchModel:categoryModel; trackBy: identify">
		<eb-product-item *ngIf="!!product" [product]="product" [wishList]="wishList"></eb-product-item>
	</ng-container>
</div>

<!-- <p class="d-block text-dark text-right p-1 p-md-3">{{ filteredItemsCount }} Adet Ürün Gösteriliyor</p> -->