<header class="section-heading d-flex justify-content-between align-items-center">
	<h4 class="section-title text-muted">1 - {{ limit }} Adet Ürün Gösteriliyor</h4>

	<div class="filter-container d-flex align-items-center">
		<input [(ngModel)]="searchModel" type="search" class="form-control" />
	</div>

	<div class="filter-container d-flex align-items-center">
		<p>Sıralama:</p>
		<select class="form-select" [(ngModel)]="filterModel">
			<option value="Default">Varsayılan</option>
			<option value="Low to High">Fiyat: Ucuzdan Pahalıya</option>
			<option value="High to Low">Fiyat: Pahalıdan Ucuza</option>
			<option value="A to Z">A dan Z</option>
			<option value="Z to A">Z den A</option>
		</select>
	</div>
</header>

<div class="product-list">
	<ng-container *ngFor="let product of products | productFilter: filterModel:searchModel; trackBy: identify">
		<eb-product-item *ngIf="!!product" [product]="product"></eb-product-item>
	</ng-container>
</div>