<section class="vh-100">
	<eb-auth-header></eb-auth-header>

	<div class="container-fluid h-custom">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-md-9 col-lg-6 col-xl-5">
				<img alt="Login Image" src="assets/images/ud-login.svg" class="img-fluid p-5" />
			</div>

			<div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>

	<eb-auth-footer></eb-auth-footer>

	<eb-toast-wrapper></eb-toast-wrapper>
</section>