:host {
	display: block;

	.header {
		&-sticky.is-sticky {
			-webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
			animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
			-webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
			box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
			background-color: #ffffff;
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			z-index: 999;
		}

		&-menu {
			&-item {
				--bs-text-opacity: 1;
				color: rgba(var(--bs-white-rgb), var(--bs-text-opacity));
				transition: border-bottom-color 150ms ease;
				border-bottom: 2px solid transparent;

				&:not(:last-child) {
					margin-right: 1.5rem;
				}

				&.rl-active {
					border-bottom-color: #fff;
				}

				&-wrap {
					position: relative;

					.number {
						position: absolute;
						top: -0.75rem;
						right: -0.75rem;
						background-color: #333;
						color: #fff;
						font-size: 0.8rem;
						padding: 0;
						aspect-ratio: 1/1;
						width: 1.2rem;
						border-radius: 50%;
						display: inline-flex;
						justify-content: center;
						align-items: center;
						transform-origin: bottom right;
						will-change: scale, transform;
						transition: scale 150ms ease-in;
					}

					&:focus,
					&:hover,
					&:focus-within {
						.number {
							scale: 1.24;
						}
					}
				}
			}
		}
	}

	@keyframes fadeInDown {
		0% {
			opacity: 0;
			transform: translate3d(0, -100px, 0);
		}

		to {
			opacity: 1;
			transform: none;
		}
	}
}