<div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
	<!-- Copyright -->
	<a routerLink="/auth" class="text-white mb-3 mb-md-0">Ersin Biltekin - Angular 16 E-Commerce Challenge</a>
	<!-- Copyright -->

	<!-- Right -->
	<div>
		<!-- <a routerLink="/app" routerLinkActive="rl-active" pTooltip="Ana Sayfa" tooltipPosition="bottom" type="button" class="text-white me-4">
			<i class="pi pi-home"></i>
		</a> -->

		<a routerLink="/app/products" routerLinkActive="rl-active" pTooltip="Ürünler" tooltipPosition="bottom" type="button" class="text-white me-4">
			<i class="pi pi-bars"></i>
		</a>

		<a *ngIf="isLogged" routerLink="/app/cart" routerLinkActive="rl-active" pTooltip="Sepet" tooltipPosition="bottom" type="button" class="text-white me-4">
			<i class="pi pi-shopping-cart"></i>
		</a>

		<a *ngIf="isLogged" routerLink="/auth/logout" routerLinkActive="rl-active" pTooltip="Çıkış Yap" tooltipPosition="bottom" type="button" class="text-white me-4">
			<i class="pi pi-sign-out"></i>
		</a>

		<a *ngIf="!isLogged" routerLink="/auth/login" routerLinkActive="rl-active" pTooltip="Giriş Yap" tooltipPosition="bottom" type="button" class="text-white me-4">
			<i class="pi pi-sign-in"></i>
		</a>
	</div>
	<!-- Right -->
</div>