<div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between align-items-md-center py-4 px-4 px-xl-5 bg-primary header-sticky" [class.is-sticky]="sticky">
	<!-- Logo -->
	<a routerLink="/auth" class="logo-wrapper">
		<eb-logo></eb-logo>
	</a>
	<!-- Logo -->

	<!-- Right -->
	<nav class="header-menu">
		<a type="button" routerLink="/app/products" routerLinkActive="rl-active" pTooltip="Ürünler" tooltipPosition="bottom" class="header-menu-item">
			<i class="pi pi-home"></i>
		</a>

		<a type="button" routerLink="/app/wishlist" routerLinkActive="rl-active" pTooltip="İstek Listesi" tooltipPosition="bottom" class="header-menu-item header-menu-item-wrap">
			<i class="pi pi-bookmark"></i>
			<span class="number">{{ wishProductCount }}</span>
		</a>

		<a type="button" routerLink="/app/cart" routerLinkActive="rl-active" pTooltip="Sepet" tooltipPosition="bottom" class="header-menu-item header-menu-item-wrap">
			<i class="pi pi-shopping-cart"></i>
			<span class="number">{{ cartProductCount }}</span>
		</a>

		<a *ngIf="!isLogged" type="button" routerLink="/auth/login" routerLinkActive="rl-active" pTooltip="Giriş Yap" tooltipPosition="bottom" class="header-menu-item">
			<i class="pi pi-sign-in"></i>
		</a>

		<a *ngIf="isLogged" type="button" routerLink="/auth/logout" routerLinkActive="rl-active" pTooltip="Çıkış Yap" tooltipPosition="bottom" class="header-menu-item">
			<i class="pi pi-sign-out"></i>
		</a>
	</nav>
	<!-- Right -->
</div>