:host {
	display: block;

	.breadcrumb {
		padding: 0.5rem;

		&.ondark {
			.breadcrumb-item {
				color: #fff;
				display: -webkit-box;
				-webkit-line-clamp: 1;
				line-clamp: 1;
				-webkit-box-orient: vertical;
				text-overflow: ellipsis;
				overflow: hidden;
			}

			a {
				color: inherit;
				opacity: 0.75;
			}
		}

		&-item + .breadcrumb-item::before {
			float: left;
			padding-right: 0.7rem;
			color: rgba(33, 37, 41, 0.3);
			content: var(--bs-breadcrumb-divider, '❯');
		}

		&.ondark .breadcrumb-item::before {
			color: #fff;
			opacity: 0.6;
		}
	}

	.product-sale {
		position: absolute;
		color: #fff;
		font-size: 0.75em;
		font-weight: normal;
		line-height: 1;
		text-transform: uppercase;
		top: 0;
		right: 0;
		background-color: var(--red-600, #d9342b);
		padding: 0.41em 0.83em;
	}

	.label-rating {
		margin-left: 5px;
		margin-right: 5px;
		display: inline-block;
		vertical-align: middle;
	}

	.dot {
		font-style: normal;
		opacity: 0.5;

		&:after {
			content: '•';
			display: inline-block;
		}
	}

	.zoom-image {
		width: 100%;
		background-repeat: no-repeat;
		cursor: zoom-in;

		img {
			display: block;
			max-width: 100%;
			object-fit: cover;
			pointer-events: none;
		}

		&:hover img {
			opacity: 0;
		}
	}

	@media only screen and (max-width: 992px) {
		h4.title.text-dark {
			margin-top: 10px;
		}
	}

	.related-product-wrapper {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(1, 1fr);
		gap: 1rem;

		@media only screen and (min-width: 480px) and (max-width: 767px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media only screen and (min-width: 768px) and (max-width: 1024px) {
			grid-template-columns: repeat(3, 1fr);
		}

		@media (min-width: 1025px) and (max-width: 1200px) {
			grid-template-columns: repeat(4, 1fr);
		}

		@media (min-width: 1201px) {
			grid-template-columns: repeat(5, 1fr);
		}
	}

	/*
    ----------------------------------------
    ======== quantity selector style ========
    ----------------------------------------
	*/
	.quantity-selector {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #0d6efd;
		border-radius: 999px;
		max-width: 6.25em;
		padding: 0.3125em 0.8125em;
	}

	.quantity-selector {
		max-width: 5em;
		padding: 0.1875em 0.625em;
	}

	.btn-quantity {
		color: #fff;
		padding: 0;
		font-size: 1.125em;
		line-height: 1;
		height: auto;
		border-radius: 2px;
		border-color: transparent;
	}

	.btn.btn-quantity[disabled] {
		cursor: not-allowed;
	}

	.btn-quantity:hover,
	.btn-quantity:active {
		border-color: transparent;
	}

	.quantity-number {
		color: #fff;
		padding: 0 1.25em;
		font-size: 0.75em;
		cursor: default;
	}

	.title h4 {
		font-size: 1rem;
		font-weight: 500;
		text-transform: capitalize;
		line-height: 1.2;
		letter-spacing: 0.5px;
		word-spacing: 2px;

		@media only screen and (min-width: 480px) and (max-width: 767px) {
			font-size: 2rem;
		}

		@media only screen and (min-width: 768px) {
			font-size: 52px;
		}
	}

	.title span {
		color: #ff8100;
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 1.2;
		letter-spacing: 0.5px;
		word-spacing: 2px;
	}

	::ng-deep {
		.p-rating {
			cursor: not-allowed !important;

			&.p-disabled {
				opacity: 1;
			}

			.p-rating-icon {
				cursor: inherit !important;

				&.p-rating-icon-active {
					color: var(--bs-primary);
				}
			}
		}
	}
}