@mixin cross($size: 1rem, $color: currentColor, $thickness: 0.063rem) {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	position: relative;
	width: $size;
	height: $size;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: calc(($size - $thickness) / 2);
		left: 0;
		right: 0;
		height: $thickness;
		background: $color;
		border-radius: $thickness;
	}

	&:before {
		transform: rotate(45deg);
	}

	&:after {
		transform: rotate(-45deg);
	}

	span {
		display: block;
	}
}

:host {
	display: block;

	.mask {
		width: 100%;
		height: 1000%;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.45);
		z-index: 999;
	}

	.cart {
		display: flex;
		flex-direction: column;
		height: 100vh;
		width: 27vw;
		background-color: #fff;
		position: fixed;
		top: 0;
		right: -27vw;
		bottom: 0;
		z-index: 9999;
		transition: all 0.5s;

		@media only screen and (max-width: 479px) {
			width: 80vw;
			right: -80vw;
		}

		@media (min-width: 767px) and (max-width: 980px) {
			right: -49vw;
			width: 49vw;
		}

		@media (min-width: 1000px) and (max-width: 1100px) {
			right: -40vw;
			width: 40vw;
		}

		@media (min-width: 1200px) and (max-width: 1380px) {
			right: -32vw;
			width: 32vw;
		}

		&-list {
			display: block;

			&-wrapper {
				display: flex;
				flex-direction: column;
				min-height: 100vh;

				@media only screen and (min-width: 767px) {
					min-height: calc(100vh - 10.875rem);
				}
			}
		}

		&.is-open {
			right: 0;
		}

		&-header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: relative;
			padding: 1.5625em 2.5em;
			color: rgba(0, 0, 0, 0.65);
			background: #fff;
			border-bottom: 1px solid #f0f0f0;
			border-radius: 2px 2px 0 0;
		}

		&-title {
			color: #0d0d0d;
			font-size: 1.25em;
			font-weight: 700;
			line-height: 1;

			@media only screen and (max-width: 479px) {
				font-size: 1.1em;
			}
		}

		&-body {
			flex-grow: 1;
			padding: 1.5625em 2.5em;
			overflow: auto;
			font-size: 16px;
			line-height: 1.5715;
			word-wrap: break-word;

			.empty-cart {
				margin: 0 8px;
				font-size: 16px;
				line-height: 1.5715;
				text-align: center;

				.empty {
					&-image {
						height: 152px;
						margin-bottom: 8px;
					}

					&-img-default {
						&-ellipse {
							fill-opacity: 0.8;
							fill: #f5f5f5;
						}

						&-path-1 {
							fill: #aeb8c2;
						}

						&-path-2 {
							fill: url(#linearGradient-1);
						}

						&-path-3 {
							fill: #f5f5f7;
						}

						&-path-4 {
							fill: #dce0e6;
						}

						&-path-5 {
							fill: #dce0e6;
						}

						&-g {
							fill: #fff;
						}
					}

					&-description {
						margin: 0;
					}
				}
			}

			.cart-item {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 1.875em;

				&:not(:last-child) {
					padding-bottom: 1.875em;
					border-bottom: 1px solid #eff1f2;
				}

				&-delete-btn {
					display: inline-block;
					color: inherit;
					font-style: normal;
					line-height: 0;
					text-align: center;
					text-transform: none;
					vertical-align: -0.125em;
					text-rendering: optimizeLegibility;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					text-rendering: optimizeLegibility;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;

					margin: 0;
					border: 0;
					padding: 0;
					opacity: 0.5;

					background-color: var(--bs-danger, #dc3545);
					color: var(--bs-light, #ffffff);
					border-radius: 50%;
					width: 2rem;
					height: 2rem;
					display: flex;
					flex-flow: column nowrap;
					justify-content: center;
					align-items: center;
					cursor: pointer;
					text-decoration: none;
					transition:
						opacity 100ms,
						rotate 150ms;
					.icon-cross {
						@include cross(1rem, #ffffff, 0.125rem);
					}

					&:hover,
					&:focus {
						rotate: z 90deg;
						opacity: 1;
					}

					&-wrapper {
						display: inline-flex;
						justify-content: center;
						align-items: center;
						margin-left: auto;
					}

					.visually-hidden {
						position: absolute !important;
						clip: rect(1px, 1px, 1px, 1px);
						padding: 0 !important;
						border: 0 !important;
						height: 1px !important;
						width: 1px !important;
						overflow: hidden;
					}
				}

				&-img {
					margin-right: 1.5em;

					img {
						height: 5.625em;
						width: 5.625em;
						object-fit: cover;
					}
				}

				&-description {
					margin-right: 1.5625em;

					a.cart-item-title {
						color: #0d0d0d;
						font-size: 0.9375em;
						font-weight: normal;
						text-decoration: none;
						line-height: 1.6666666667em;
						transition: 0.2s ease-in-out;
						cursor: pointer;
						overflow: hidden;
						text-overflow: ellipsis;
						display: -webkit-box;
						-webkit-line-clamp: 1;
						-webkit-box-orient: vertical;
						margin-bottom: 1em;
					}

					h5.cart-item-price {
						color: #0d0d0d;
						font-size: 1.0625em;
						font-weight: 600;
						line-height: 1;
						margin-bottom: 1.1764705882em;
					}

					.btn-add {
						height: 2.3076923077em;
						letter-spacing: 0.1769230769em;
						font-size: 0.8125em;
						background-color: #0d6efd;
						color: #fff;
						border: 0;
						text-transform: uppercase;
						font-weight: 600;

						&[disabled] {
							background-color: #f2f4f5;
							color: #0d0d0d;
						}
					}

					.btn-mobile-add {
						display: none;
					}
				}
			}
		}

		&-total {
			margin-top: auto;
			padding-top: 1.5625em;
			border-top: 1px solid #eff1f2;
			padding: 1.5625em 2.5em;

			h5.total-price {
				margin-bottom: 1.6666666667em;
				color: #0d0d0d;
				font-size: 0.9375em;
				font-weight: 700;
				line-height: 1;
				text-transform: uppercase;

				span {
					float: right;
					font-size: 1.25em;
				}
			}
		}
	}

	.checkout-btn,
	.btn-empty-list {
		button {
			font-size: 0.8125em;
			letter-spacing: 0.2em;
			text-transform: uppercase;
			height: 3.0769230769em;
			flex-grow: 1;
			border: 0;
			padding: 2.4px 16px;
			border-radius: 32px;

			&:hover a {
				color: #fff;
			}
		}
	}

	.quantity {
		&-selector {
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #0d6efd;
			border-radius: 999px;
			max-width: 6.25em;
			padding: 0.3125em 0.8125em;
			max-width: 5em;
			padding: 0.1875em 0.625em;
		}

		&-number {
			color: #fff;
			padding: 0 1.25em;
			font-size: 0.75em;
			cursor: default;
		}
	}

	.btn-quantity {
		color: #fff;
		padding: 0;
		font-size: 1.125em;
		line-height: 1;
		height: auto;
		border-radius: 2px;
		border-color: transparent;

		&.btn[disabled] {
			cursor: not-allowed;
		}

		&:hover,
		&:active {
			border-color: transparent;
		}
	}
}