<div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-2 px-2 py-md-4 px-md-4 px-xl-5 bg-dark">
	<!-- Left -->
	<div>
		<a (click)="socialLink('Facebook')" type="button" class="text-white me-4">
			<i class="pi pi-facebook"></i>
		</a>

		<a (click)="socialLink('Google')" type="button" class="text-white me-4">
			<i class="pi pi-google"></i>
		</a>

		<a (click)="socialLink('Linked In')" type="button" class="text-white me-4">
			<i class="pi pi-linkedin"></i>
		</a>

		<a (click)="socialLink('Twitter - X')" type="button" class="text-white">
			<i class="pi pi-twitter"></i>
		</a>
	</div>
	<!-- Left -->

	<!-- Copyright -->
	<div class="text-white mb-3 mb-md-0 text-break"><span>Copyright © 2023.</span> <span>Tüm hakları saklıdır.</span></div>
	<!-- Copyright -->
</div>