<div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-2 px-2 py-md-4 px-md-4 px-xl-5 bg-dark">
	<!-- Left -->
	<div class="my-3 my-md-0">
		<a type="button" pTooltip="Facebook" tooltipPosition="top" (click)="socialLink('Facebook')" class="text-white me-4">
			<i class="pi pi-facebook"></i>
		</a>

		<a type="button" pTooltip="Google" tooltipPosition="top" (click)="socialLink('Google')" class="text-white me-4">
			<i class="pi pi-google"></i>
		</a>

		<a type="button" pTooltip="LinkedIn" tooltipPosition="top" (click)="socialLink('LinkedIn')" class="text-white me-4">
			<i class="pi pi-linkedin"></i>
		</a>

		<a type="button" pTooltip="Twitter - X" tooltipPosition="top" (click)="socialLink('Twitter - X')" class="text-white">
			<i class="pi pi-twitter"></i>
		</a>
	</div>
	<!-- Left -->

	<!-- Copyright -->
	<div class="text-white mb-3 mb-md-0 text-break"><span>Copyright © 2023.</span> <span>Tüm hakları saklıdır.</span></div>
	<!-- Copyright -->
</div>