:host {
	display: block;

	.product {
		.product-image {
			margin-bottom: 1.25em;
			overflow: hidden;
			position: relative;
			background-color: #ebebeb;

			a {
				display: block;

				img {
					height: 100%;
					width: 100%;
					object-fit: cover;
					transition: 0.2s ease-in-out;
					transform: scale(1.05);

					// &:last-child {
					// 	position: absolute;
					// 	top: 0;
					// 	left: 0;
					// 	bottom: 0;
					// 	right: 0;
					// 	opacity: 0;
					// }
				}
			}

			.product-sale {
				position: absolute;
				color: #fff;
				font-size: 0.75em;
				font-weight: normal;
				line-height: 1;
				text-transform: uppercase;
				top: 0.71em;
				left: 0;
				background-color: #fb5231;
				padding: 0.41em 0.83em;
			}

			.btn-favourite {
				position: absolute;
				top: 0.71em;
				right: -100px;
				background-color: #fff;
				font-size: 0.875em;

				display: inline-flex;
				justify-content: center;
				align-items: center;
				width: 2rem;
				height: 2rem;

				&.is-favourite {
					background-color: #fb5231;
					color: #fff;
					right: 0.71em;
				}
			}

			.btn-product-quickview {
				position: absolute;
				opacity: 0;
				visibility: hidden;
				bottom: 0.7142857143em;
				left: 50%;
				transform: translateX(-50%);
				font-size: 0.75em;
				border: 0;
				text-transform: uppercase;
				font-weight: 700;
				letter-spacing: 0.1em;
				white-space: nowrap;
				/* font-size: 16px; */
				border-radius: 2px;
				color: rgba(0, 0, 0, 0.65);
				background: #fff;
				transition: all 0s;
			}

			.product-atw:hover {
				background-color: #fb5231;
				color: #fff;
			}

			.btn-favourite:hover,
			.btn-product-quickview:hover {
				background-color: #fb5231;
				color: #fff;
			}

			&:hover {
				.btn-favourite {
					right: 0.71em;
				}

				.btn-product-quickview {
					opacity: 1;
					visibility: visible;
				}

				a img {
					transform: scale(1);

					&:last-child {
						opacity: 1;
					}
				}
			}
		}

		.product-content {
			.product {
				&-name {
					color: #0d0d0d;
					font-size: 0.9375em;
					font-weight: 500;
					text-decoration: none;
					line-height: 1;
					transition: 0.2s ease-in-out;
					cursor: pointer;
					text-transform: capitalize;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 1;
					-webkit-box-orient: vertical;
					margin-bottom: 0.625em;
				}

				&-rate {
					margin-bottom: 0.5em;

					&-quantity {
						color: #888;
						font-size: 0.8125em;
						font-weight: normal;
						line-height: 1;
					}
				}
			}

			/* #f0f0f0 */
			.rating {
				margin: 5px 0;

				i {
					color: #444444;
					font-size: 14px;
					margin-right: 4px;
					line-height: 24px;

					&:last-child {
						margin-right: 0;
					}
				}

				.product-rate-quantity {
					color: #888;
					font-size: 0.8125em;
					font-weight: normal;
					line-height: 1;
				}
			}

			&__footer {
				display: flex;
				align-items: center;
				justify-content: space-between;

				&-price {
					display: flex;
					align-items: center;

					.product-price {
						color: #0d0d0d;
						font-size: 1.06em;
						font-weight: 500;
						line-height: 1;
						margin-right: 0.58em;
						margin-bottom: 0;
					}

					span {
						color: #888;
						font-size: 1.06em;
						font-weight: normal;
						line-height: 1;
						text-decoration: line-through;
					}
				}

				.product-atc {
					background-color: #f2f4f5;
					height: 2.5em;
					width: 2.5em;
					transition: 0.5s all;

					.btn {
						display: inline-flex;
						justify-content: center;
						align-items: center;
						width: inherit;
						height: inherit;
					}

					&.ant-tooltip-disabled-compatible-wrapper {
						border-radius: 999px;
						overflow: hidden;
					}

					&:hover {
						background-color: #ff8100;

						.btn-circle {
							color: #fff !important;
						}
					}
				}
			}
		}

		.btn-circle {
			min-width: 32px;
			padding: 7px;
			text-align: center;
			border-radius: 50%;
			border: none;
			/* border-color: #fb5231; */
		}

		.btn-favourite.btn-circle {
			padding: 3px 7px;
		}

		.rating-stars {
			position: relative;
			display: inline-flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			margin: 0;
			padding: 0;
			list-style: none;
			white-space: nowrap;
			clear: both;

			li {
				display: block;
				text-overflow: clip;
				white-space: nowrap;
				z-index: 1;

				&.stars-active {
					z-index: 2;
					position: absolute;
					top: 0;
					left: 0;
					overflow: hidden;
				}
			}

			img {
				height: 16px;
				width: fit-content;
				max-width: none;
			}
		}
	}

	@media only screen and (max-width: 767px) {
		.product-name span.item-title {
			width: 110px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}

		.product .product-image .btn-product-quickview {
			opacity: 1;
			visibility: visible;
		}

		.product .product-image .btn-favourite {
			right: 0.71em;
		}
	}

	@media (min-width: 1000px) and (max-width: 1100px) {
		.product-name span.item-title {
			width: 115px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
	}
}