:host {
	display: block;
}

.product-item {
	display: inline-block;
	padding: 1rem;
	background-color: #ffffff;
	border: 1px solid #cfcfcf;
	border-radius: 1rem;
	overflow: hidden;
	transition: all ease 300ms;

	&:hover {
		transform-origin: center;
		z-index: 1;
		overflow: auto;
		scale: 1.2;
	}
}