<ng-container *ngIf="!!product">
	<div class="product">
		<div class="product-image">
			<a style="height: 227px" routerLink="/app/products/detail/{{product.id}}">
				<!-- <figure *ngIf="product.image" style="background-image: url({{product.image}});" alt="product-image"> -->
				<img *ngIf="product.image" [src]="product.image" alt="product-image" onerror="this.onerror = null; this.src='assets/images/ImageNotFound.png';" />
				<!-- </figure> -->
			</a>

			<span *ngIf="isProductSale" class="product-sale">İndirimde</span>

			<button type="button" [class.is-favourite]="productInWishList(product)" (click)="addProductToWishList(product , $event)" class="btn-favourite btn-circle">
				<i class="pi pi-heart"></i>
			</button>
		</div>

		<div class="product-content">
			<a class="product-name d-flex justify-content-between align-items-center" routerLink="/app/products/detail/{{product.id}}">
				<span class="item-title">{{ product.title }}</span>
				<span class="badge badge-pill bg-primary p-1">{{ product.category }}</span>
			</a>

			<div class="rating-stars">
				<p-rating [(ngModel)]="product.rating.rate" [readonly]="true" [cancel]="false"></p-rating>

				<span class="badge badge-pill bg-dark text-light p-1">{{ product.rating.count }} kişi oyladı</span>
			</div>

			<div class="product-content__footer">
				<div class="product-content__footer-price">
					<h5 class="product-price">${{ product.price | number : '1.2-2' }}</h5>
					<span *ngIf="isProductSale">${{ product.price * 1.5 | number : '1.2-2' }}</span>
				</div>

				<span class="product-atc rounded-circle">
					<button type="button" (click)="addProductToCart(product)" class="btn btn-circle text-muted">
						<i class="pi pi-shopping-cart"></i>
					</button>
				</span>
			</div>
		</div>
	</div>
</ng-container>